---
BasedOnStyle: Google
AllowShortIfStatementsOnASingleLine: false
BreakBeforeTernaryOperators: true
BreakAdjacentStringLiterals: true
ColumnLimit: 108
IndentCaseBlocks: true
IndentCaseLabels: true
IndentExternBlock: Indent
IndentPPDirectives: AfterHash
IndentWidth: 2
InsertBraces: true
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 1
PPIndentWidth: 2
PointerAlignment: Right
ReflowComments: true
AlignTrailingComments: true
RemoveEmptyLinesInUnwrappedLines: true
SeparateDefinitionBlocks: Always
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
UseTab: Never

SpacesInLineCommentPrefix:
  Maximum: -1
  Minimum: 1

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: true

# KeepEmptyLines:
#   AtStartOfBlock: true
#   AtStartOfFile: true
# BreakBeforeBraces: Custom

# NumericLiteralCase:
#   ExponentLetter: Upper
#   HexDigit: Upper
#   Prefix: Upper
#   Suffix: Upper

# BraceWrapping:
#   AfterEnum: true
#   AfterStruct: false

BracedInitializerIndentWidth: 2
BinPackParameters: OnePerLine
BinPackArguments: true
ContinuationIndentWidth: 4

# We can add some macro definitions here if we want...
AttributeMacros:
  [
    AK_AUTO,
    AK_UNUSED,
    AK_ALWAYS_INLINE,
    AK_HOT_FUNC,
    AK_COLD_FUNC,
    AK_FLAG_ENUM,
    AK_PREF_TYPE,
    AK_SIZED_BY,
    AK_COUNTED_BY,
    AK_NEVER_INLINE,
    AK_FLATTEN,
    AK_PURE,
    AK_CONST,
    AK_NONNULL_ALL,
    AK_NONNULL_ARG,
    AK_RET_NONNULL,
    AK_NO_DISCARD,
    AK_NO_RETURN,
    AK_MALLOC,
    AK_ALLOC,
    AK_DEALLOCATOR,
    AK_PRINTF,
    AK_CLEANUP
  ]

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
...
