# -clang-diagnostic-missing-prototypes,
---
Checks: >
  *,
  clang-diagnostic-*,
  -clang-diagnostic-#pragma-messages,
  bugprone-*,
  cert-*,
  performance-*,
  portability-*,
  readability-*,
  concurrency-*,
  misc-*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.*,
  -clang-analyzer-unix.Malloc, Does not play well with using __free__ attributes,
  -*cert-err33-c,
  -cert-dcl51-cpp,
  -cert-dcl37-c,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-identifier-naming,
  -readability-magic-numbers,
  -readability-avoid-unconditional-preprocessor-if,
  -readability-non-const-parameter,
  readability-redundant-function-ptr-dereference,
  readability-redundant-casting,
  readability-avoid-const-params-in-decls,
  -misc-no-recursion,
  misc-include-cleaner,
  -*unused-*,
  -*swappable-parameters,
  -clang-diagnostic-padded,
  modernize-use-designated-initializers,
  -altera-*, Checks related to OpenCL programming for FPGAs. Not relevant,
  -android-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-inc-dec-in-conditions,
  -bugprone-reserved-identifier, We use underscore prefix to indicate private names (e.g. "_shada_mark"),
  -bugprone-swapped-arguments,
  -llvm-header-guard, We use #ANU_...,
  -llvmlibc-restrict-system-libc-headers, We want to use glibc,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-avoid-magic-numbers,
  -hicpp-signed-bitwise,
  -hicpp-use-nullptr,
  -modernize-use-nullptr,
  -modernize-macro-to-enum,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -Wjump-misses-init

WarningsAsErrors: ""
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - c
SystemHeaders: false
HeaderFilterRegex: "^(src|include)/.*"
ExcludeHeaderFilterRegex: "^vendor/.*"
FormatStyle: file
CheckOptions:
  - key: concurrency-mt-unsafe.FunctionSet
    value: glibc
    # Do not auto-insert these headers
  - key: misc-include-cleaner.IgnoreHeaders
    value: "(bits/.*|asm/.*|asm-generic/.*)"
  - key: bugprone-unsafe-functions.CustomFunctions
    value: |
      ^malloc$, xmalloc,;
      ^calloc$, xcalloc,;
      ^realloc$, xrealloc,;
  # Naming conventions (C style)
  - key: readability-identifier-naming.MacroDefinitionIgnoredRegexp
    value: "(log_.*|'^_.*')"
    # - key: readability-identifier-naming.MacroDefinitionCase
    #   value: UPPER_CASE
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: lower_case
  - key: readability-identifier-naming.TypedefCase
    value: lower_case

  - key: readability-identifier-naming.EnumCase
    value: lower_case
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE

  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: "true"
  # Allows 'if (ptr)' instead of 'if (ptr != NULL)'
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: "true"

  - key: cert-dcl16-c.NewSuffixes
    value: "L;LL;LU;LLU"

  - key: google-readability-braces-around-statements.ShortStatementLines
    value: "1"
  - key: cert-err33-c.AllowCastToVoid
    value: "true"
  - key: google-readability-function-size.StatementThreshold
    value: "800"
...
