---
Checks: >
  -*,
  clang-diagnostic-*,
  bugprone-*,
  cert-*,
  performance-*,
  portability-*,
  readability-*,
  concurrency-*,
  misc-*,
  clang-analyzer-*,
  -clang-diagnostic-missing-prototypes,
  -clang-analyzer-security.insecureAPI.*,
  -*cert-err33-c,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-avoid-unconditional-preprocessor-if,
  -readability-non-const-parameter,
  -misc-no-recursion,
  -*unused-*,
  -*swappable-parameters,
  -misc-include-cleaner,

WarningsAsErrors: ""
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - c
SystemHeaders: false
HeaderFilterRegex: "^(src|include)/.*"
FormatStyle: file
CheckOptions:
  - key: concurrency-mt-unsafe.FunctionSet
    value: glibc
  # Naming conventions (C style)
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE

  - key: readability-identifier-naming.MacroDefinitionIgnoredRegexp
    value: "(log_.*|'^_.*')"
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: lower_case
  - key: readability-identifier-naming.TypedefCase
    value: lower_case

  - key: readability-identifier-naming.EnumCase
    value: lower_case
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE

  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: "true"
  # Allows 'if (ptr)' instead of 'if (ptr != NULL)'
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: "true"

  - key: cert-dcl16-c.NewSuffixes
    value: "L;LL;LU;LLU"

  - key: google-readability-braces-around-statements.ShortStatementLines
    value: "1"
  - key: cert-err33-c.AllowCastToVoid
    value: "true"

  - key: google-readability-function-size.StatementThreshold
    value: "800"
...
