# #-*- mode: yaml -*-

CompileFlags: # Tweak the parse settings
  Add: [-xc, -Wall, -Wextra, -std=c11, -Wno-#pragma-messages]
  # Remove: -W*                     # strip all other warning-related flags
  Compiler: clang # Change argv[0] of compile flags to `clang`

Diagnostics:
  Suppress:
    [
      unused-function,
      unused-variable,
      unused-parameter,
      readability-avoid-unconditional-preprocessor-if,
      readability-redundant-declaration,
      incompatible-pointer-types-discards-qualifiers,
      missing-prototypes,
      misc-no-recursion,
    ]
  ClangTidy:
    # Add: [bugprone-*, performance-*, readability-*, misc-*, clang-analyzer-*]
    FastCheckFilter: Loose
  Includes:
    # IgnoreHeader: ["criterion*"]
    AnalyzeAngledIncludes: false
  UnusedIncludes: Strict

Completion:
  AllScopes: true
  MacroFilter: ExactPrefix
  HeaderInsertion: None

Hover:
  ShowAKA: true
  MacroContentsLimit: 2048

Documentation:
  CommentFormat: Doxygen

Index:
  StandardLibrary: true
  Background: Build
