---
BasedOnStyle: Google
AllowShortIfStatementsOnASingleLine: false
BreakBeforeTernaryOperators: true
BreakAdjacentStringLiterals: true
IndentCaseBlocks: true
IndentCaseLabels: true
IndentExternBlock: Indent
IndentPPDirectives: AfterHash
IndentWidth: 2
InsertBraces: true
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 1
PPIndentWidth: 2
PointerAlignment: Right
ReflowComments: IndentOnly
RemoveEmptyLinesInUnwrappedLines: true
SeparateDefinitionBlocks: Always
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
UseTab: Never

SpacesInLineCommentPrefix:
  Maximum: -1
  Minimum: 1

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: true

# KeepEmptyLines:
#   AtStartOfBlock: true
#   AtStartOfFile: true
# BreakBeforeBraces: Custom

# NumericLiteralCase:
#   ExponentLetter: Upper
#   HexDigit: Upper
#   Prefix: Upper
#   Suffix: Upper

# BraceWrapping:
#   AfterEnum: true
#   AfterStruct: false

BracedInitializerIndentWidth: 2
BinPackParameters: OnePerLine
BinPackArguments: true
ContinuationIndentWidth: 4

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false


...
